@font-face
{
	font-family: "ArmWrestler";
	src: url("../fonts/font-pack-1/ArmWrestler.ttf");
}

@font-face
{
	font-family: "Arnorg";
	src: url("../fonts/font-pack-1/ARNORG.TTF");
}

@font-face
{
	font-family: "AsapBold";
	src: url("../fonts/font-pack-1/Asap-Bold_0.otf");
}

@font-face
{
	font-family: "AstersHandRegular";
	src: url("../fonts/font-pack-1/AstersHand-Regular.ttf");
}

@font-face
{
	font-family: "Aubrey";
	src: url("../fonts/font-pack-1/AUBREY1.TTF");
}

@font-face
{
	font-family: "Augie";
	src: url("../fonts/font-pack-1/augie.ttf");
}

@font-face
{
	font-family: "AustralisproSwashitalic";
	src: url("../fonts/font-pack-1/AUSTRALISPRO-SWASHITALIC.TTF");
}

@font-face
{
	font-family: "Badabb";
	src: url("../fonts/font-pack-1/BADABB.TTF");
}

@font-face
{
	font-family: "BDCartoonShout";
	src: url("../fonts/font-pack-1/BD_Cartoon_Shout.ttf");
}

@font-face
{
	font-family: "BettysHandRegular";
	src: url("../fonts/font-pack-1/BettysHand Regular.ttf");
}

@font-face
{
	font-family: "Birdb";
	src: url("../fonts/font-pack-1/BIRDB___.TTF");
}

@font-face
{
	font-family: "Birdl";
	src: url("../fonts/font-pack-1/BIRDL___.TTF");
}

@font-face
{
	font-family: "Birdman";
	src: url("../fonts/font-pack-1/BIRDMAN_.TTF");
}

@font-face
{
	font-family: "Birdo";
	src: url("../fonts/font-pack-1/BIRDO___.TTF");
}

@font-face
{
	font-family: "BPreplay";
	src: url("../fonts/font-pack-1/BPreplay.otf");
}

@font-face
{
	font-family: "BrownBagLunch";
	src: url("../fonts/font-pack-1/BrownBagLunch.ttf");
}

@font-face
{
	font-family: "BrushHyouka";
	src: url("../fonts/font-pack-1/brush-hyouka.ttf");
}

@font-face
{
	font-family: "BrushtypeSemibold";
	src: url("../fonts/font-pack-1/brushtype-semibold.ttf");
}

@font-face
{
	font-family: "Callani";
	src: url("../fonts/font-pack-1/Callani.ttf");
}

@font-face
{
	font-family: "Callani";
	src: url("../fonts/font-pack-1/Clannad_Round_Regular.ttf");
}