@import url("font-rule.css");

#armWrestler{font-family: "ArmWrestler";}
#arnorg{font-family: "Arnorg";}
#asapBold{font-family: "AsapBold";}
#astersHandRegular{font-family: "AstersHandRegular";}
#aubrey{font-family: "Aubrey";}
#augie{font-family: "Augie";}
#australisproSwashitalic{font-family: "AustralisproSwashitalic";}
#badabb{font-family: "Badabb";}
#bdCartoonShout{font-family: "BDCartoonShout";}
#bettysHandRegular{font-family: "BettysHandRegular";}
#birdb{font-family: "Birdb";}
#birdl{font-family: "Birdl";}
#birdman{font-family: "Birdman";}
#birdo{font-family: "Birdo";}
#bpreplay{font-family: "BPreplay";}
#brownBagLunch{font-family: "BrownBagLunch";}
#brushHyouka{font-family: "BrushHyouka";}
#brushtypeSemibold{font-family: "BrushtypeSemibold";}
#callani{font-family: "Callani";}
#clannadRoundRegular{font-family: "ClannadRoundRegular";}
#clup1{font-family: "Club1";}
#crashLandingbb{font-family: "CrashLandingBB";}
#danub{font-family: "Danub";}
#danube{font-family: "Danube";}
#dfhs4{font-family: "Dfhs4";}
#marugothic{font-family: "DFPMaruGothic-W6-Kami";}
#flickneb{font-family: "flickneb";}
#habbo{font-family: "Habbo";}