@import url("font-rule.css");

#armWrestler{font-family: "ArmWrestler";}
#arnorg{font-family: "Arnorg";}
#asapBold{font-family: "AsapBold";}
#astersHandRegular{font-family: "AstersHandRegular";}
#aubrey{font-family: "Aubrey";}
#augie{font-family: "Augie";}
#australisproSwashitalic{font-family: "AustralisproSwashitalic";}
#badabb{font-family: "Badabb";}
#bdCartoonShout{font-family: "BDCartoonShout";}
#bettysHandRegular{font-family: "BettysHandRegular";}
#birdb{font-family: "Birdb";}
#birdl{font-family: "Birdl";}
#birdman{font-family: "Birdman";}
#birdo{font-family: "Birdo";}
#bpreplay{font-family: "BPreplay";}
#brownBagLunch{font-family: "BrownBagLunch";}
#brushHyouka{font-family: "BrushHyouka";}
#brushtypeSemibold{font-family: "BrushtypeSemibold";}
#callani{font-family: "Callani";}
#clannadRoundRegular{font-family: "ClannadRoundRegular";}
#clup1{font-family: "Club1";}
#crashLandingbb{font-family: "CrashLandingBB";}
#danub{font-family: "Danub";}
#danube{font-family: "Danube";}
#dfhs4{font-family: "Dfhs4";}
#marugothic{font-family: "DFPMaruGothic-W6-Kami";}
#flickneb{font-family: "flickneb";}
#habbo{font-family: "Habbo";}

#HandWrittenCrystalV2{font-family: "HandWrittenCrystalV2";}
#Itcedscr{font-family: "Itcedscr";}
#MeriendaOneRegular{font-family: "MeriendaOneRegular";}
#Mtcorsva{font-family: "Mtcorsva";}
#Nyala0{font-family: "Nyala0";}
#Rez{font-family: "Rez";}
#SwatRG{font-family: "SwatRG";}
#Telev2{font-family: "Telev2";}
#Telev2b{font-family: "Telev2b";}
#Telev2bi{font-family: "Telev2bi";}
#Telev2c{font-family: "Telev2c";}
#Telev2cb{font-family: "Telev2cb";}
#Telev2cbi{font-family: "Telev2cbi";}
#Telev2ci{font-family: "Telev2ci";}
#Telev2i{font-family: "Telev2i";}
#Telev2s{font-family: "Telev2s";}
#BakerSignet{font-family: "BakerSignet";}
#FertigoRegular{font-family: "FertigoRegular";}
#Wonderlism{font-family: "Wonderlism";}
#W7{font-family: "W7";}

/* #habbo{font-family: "";} */

